trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'
  HEADLESS: '1'          # used by conftest.py to run in headless mode

steps:
  - checkout: self
    clean: true

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(pythonVersion)'
      addToPath: true

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install Python dependencies'

  - script: |
      python -m playwright install --with-deps
    displayName: 'Install Playwright browsers'

  - script: |
      pytest -v
    displayName: 'Run Pytest UI tests'
    env:
      HEADLESS: $(HEADLESS)
